{% extends 'main/base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row mb-4 align-items-center">
        <div class="col d-flex justify-content-between">
            <h4 class="mt-2">All Suppliers ({{ total_items }})</h4>
            <div>
                <a href="{% url 'inventory:supplier_create' %}" class="btn btn-outline-success btn-custom mt-2 mr-2">Add Supplier</a>
                <a href="{% url 'inventory:import_csv' model='supplier' %}" class="btn btn-custom mt-2">Import Categories (CSV)</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <form method="get" id="pagination-form" class="form-inline">
            <label for="paginate_by" class="mr-2 mb-0">Items per page:</label>
            <select name="paginate_by" class="form-control form-control-sm mr-2" onchange="document.getElementById('pagination-form').submit();">
                <option value="5" {% if paginate_by == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if paginate_by == 10 %}selected{% endif %}>10</option>
                <option value="30" {% if paginate_by == 30 %}selected{% endif %}>30</option>
                <option value="50" {% if paginate_by == 50 %}selected{% endif %}>50</option>
                <option value="100" {% if paginate_by == 100 %}selected{% endif %}>100</option>
            </select>
        </form>

        <form method="get" id="sorting-form" class="form-inline">
            <select name="sort" class="form-control form-control-sm mr-2" onchange="document.getElementById('sorting-form').submit();">
                <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
                <option value="product_count" {% if sort_by == 'product_count' %}selected{% endif %}>Number of Products</option>
                <option value="created_at" {% if sort_by == 'created_at' %}selected{% endif %}>Creation Time</option>
                <option value="updated_at" {% if sort_by == 'updated_at' %}selected{% endif %}>Update Time</option>

            </select>
            <select name="order" class="form-control form-control-sm mr-2" onchange="document.getElementById('sorting-form').submit();">
                <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Descending</option>
            </select>
        </form>
    </div>


    <div class="row">
        {% for supplier in suppliers %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'inventory:supplier_detail' supplier.id %}" class="text-decoration-none text-dark">
                <div class="card">
                    {% if supplier.logo %}
                    <img src="{{ supplier.logo.url }}" class="card-img-top" alt="{{ supplier.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ supplier.name }}</h5>
                        <h6 class="text-muted mt-5 mb-3">{{ supplier.product_count }} product(s)</h6>
                        <p>{{ supplier.contact_email }}</p>
                        <p>{{ supplier.phone_number }}</p>
                        <a href="{% url 'inventory:supplier_detail' supplier.id %}" class="btn btn-action-primary">View Details</a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    
    
    <nav class="d-flex justify-content-center align-items-center mt-5 gap-4 pagination-container">
        <div class="pagination">
            {% if suppliers.has_previous %}
                <a class="pagination-newer" href="?page={{ suppliers.previous_page_number }}&sort={{ sort_by }}&order={{ sort_order }}&paginate_by={{ paginate_by }}">Previous</a>
            {% endif %}
            <span class="pagination-inner">
                {% for page_num in suppliers.paginator.page_range %}
                    {% if page_num == suppliers.number %}
                        <a class="pagination-active" href="?page={{ page_num }}&sort={{ sort_by }}&order={{ sort_order }}&paginate_by={{ paginate_by }}">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}&sort={{ sort_by }}&order={{ sort_order }}&paginate_by={{ paginate_by }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
            </span>
            {% if suppliers.has_next %}
                <a class="pagination-older" href="?page={{ suppliers.next_page_number }}&sort={{ sort_by }}&order={{ sort_order }}&paginate_by={{ paginate_by }}">Next</a>
            {% endif %}
        </div>
    </nav>
    
    
    <a href="{% url 'inventory:export_csv_categories' %}" class="btn btn-outline-secondary p-2 mt-4 mb-3 btn-custom">Export Categories (CSV)</a>

</div>
{% endblock %}