{% extends "Product/base.html" %}
{% load static %} 
{% block title %}404{% endblock %}

{% block content %}
<div class="container "></div>
    <div class="row flex justify-center items-center m-12">
        <div class="col-md-12">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/error-404-6343259-5231329.png" alt="Thanks Image" class="w-full h-[500px] mx-auto"/><br>
            <h2 class="font-bold text-4xl text-blue-800 text-center mb-4">Page not found 404</h2>
            <p class="font-light text-2xl text-blue-800 text-center">Sorry, the page you're looking for doesn't exist.</p>
        </div>
    </div>
</div>
{% endblock %}