{% extends "Product/base.html" %}
{% load static %} 
{% block title %}404{% endblock %}

{% block content %}
<div class="container "></div>
    <div class="row flex justify-center items-center">
        <div class="col-md-12">
            <img src="https://cdn3d.iconscout.com/3d/premium/preview/error-404-3d-icon-download-in-png-blend-fbx-gltf-file-formats--page-not-found-web-cyber-crimes-pack-security-icons-5231329.png?f=webp&h=700" alt="Thanks Image" class="w-full mx-auto"/>
            <h1 class="font-blod text-4xl text-blue-800 text-center">404</h1>
            <h2 class="font-blod text-4xl text-blue-800 text-center">Page not found</h2>
            <p class="font-blod text-2xl text-blue-800 text-center">Sorry, the page you're looking for doesn't exist.</p>
        </div>
    </div>
</div>
{% endblock %}