{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Product List</h2>

        <form class="form-inline" method="GET" action="{% url 'product_list' %}">
            <div class="search-wrapper">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success my-2" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    {% if products %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Suppliers</th>
                <th>Price</th>
                <th>Stock Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.suppliers.all|join:", " }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock_quantity }}</td>
                <td>
                    <a href="{% url 'product_edit' product.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                <a href="?page={{ products.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% elif request.GET.q %}
    <div class="lead">
        <p>No products found matching "{{ request.GET.q }}"</p>
    </div>
    {% endif %}
    <a href="{% url 'product_add' %}" class="btn btn-success">Add New Product</a>
</div>

<br>

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
